@inherits LayoutComponentBase

<div class="container mt-2" style="width: 780px;">
    <header class="text-center">
        <h1>NIEUWS</h1>
    </header>

    <main>
        @Body
    </main>

    <footer>
    </footer>
</div>
